{
  "root": true,
  "overrides": [
    {
      "files": "*.ts",
      "extends": [
        "canonical",
        "canonical/node",
        "canonical/typescript"
      ],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "rules": {
        "import/no-named-as-default-member": 0
      }
    }
  ]
}